.detail-user__avata {
  border-radius: 50%;
  max-width: 150px;
  max-height: 150px;
}
.detail-user__avata img {
  max-width: 100%;
  height: auto;
}

.detail-user__container {
  padding: 20px;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  border-radius: 0.25rem;
}
.detail-title {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}
.detail-total {
  font-size: 30px;
  text-align: center;
}
